<html>
    <head>
        <title>Welcome to the Pokedex!</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" />
    </head>
    <body>
        <h1>You got... Venusaur!</h1>
        <img src= "https://assets.pokemon.com/assets/cms2/img/pokedex/full/003.png" alt="Venusaur" weight="40" height="200"
        <p> Venusaur is the final evolution. The flower is said to take in vivid colors to gets plenty of nutrition and sunlight. The flower's aroma soothes the emotions of people.</p>
    </body>
</html>